# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\personal\projects\stock-management\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
